/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column; /* Configura o Flexbox para a coluna */
}

/* Gradiente de fundo animado para o body */
body {
    background: linear-gradient(124deg, #6b8bb2, #597ba1, #486a8f, #365a7e, #24496c);
    background-size: 1000% 1000%;
    animation: Animation 30s ease infinite;
}

main {
    flex: 1; /* Ocupa o espaço restante, empurrando o footer para baixo */
}
@keyframes Animation {
    0% { background-position: 0% 19%; }
    50% { background-position: 100% 82%; }
    100% { background-position: 0% 19%; }
}

/*Começo Estilização Formulário*/
.formulario_ajuda {
    /* Tamanho, centralização, estilo, letra */
    width: 500px;
    padding: 8px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.952);
    color: black;
    /* Estilo letra */
    font-family: "Roboto", sans-serif;
    /* Borda */
    border-radius: 8px;
    /* Sombra */
    -webkit-box-shadow: 4px 6px 29px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 6px 29px -2px rgba(0,0,0,0.3);
    box-shadow: 4px 6px 29px -2px rgba(0,0,0,0.3);
}

.formulario_ajuda label {
    display: block; /* Cada label em uma linha separada */
    font-weight: bold;
    text-align: left; /* Alinha o texto dos labels à esquerda */
}

.formulario_ajuda input,
.formulario_ajuda select,
.formulario_ajuda textarea {
    width: 100%; /* Ajusta a largura dos inputs e textarea */
    padding: 8px;
    margin-bottom: 10px; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding na largura total */
}

/*Editar Botão*/
.formulario_ajuda button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: #61B1E6; /*Cor padrão*/
    border: none;
    cursor: pointer; /*Ponteiro do Mouse ao passar por cima*/
    border-radius: 5px;
    font-size: 16px;
}
.formulario_ajuda button:hover {
    background-color: #619EE6; /* Cor de fundo ao passar o mouse */
}
/*Formulario Fim*/


/*Footer Começo*/
footer {
    position: relative; /* Fixa o rodapé na parte inferior */
    left: 0;
    bottom: -150px; /* Inicialmente fora da tela */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: space-around;
    /*Estilo letra*/
    font-family: "Roboto", sans-serif;
}
/*Footer imgs*/
footer img {
    width: 5%;
}
footer #copyright {
    margin-top: 90px;
}
