/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column; /* Configura o Flexbox para a coluna */
    font-family: "Roboto", serif;
}

header {
    background-image: url('/assets/pngtree-dotted-world-map-of-square-dots-on-dark-background-image_1150067-transformed.jpeg');
    background-size: cover;
    background-position: center;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de destaque */
}

/* A nossa logo dentro do header */
header img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Os links para navegar dentro do Header */
header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: background-color 0.3s, color 0.3s;
}

header a:hover {
    background-color: #ffcc00;
    color: #004d99;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilo do main */
main {
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}

/* Estilo do parágrafo */
p {
    font-size: 50px;
    color: #555;
    line-height: 20px;
}


.img_lista {
    align-items: center;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 10px 15px 0px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 15px 0px 0px rgba(0,0,0,0.05);
    box-shadow: 10px 15px 0px 0px rgba(0,0,0,0.05);
}
.img_lista img {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.img_lista ul {
    list-style-type: none;
    margin-left: 11%;
}
.img_lista a{
    text-decoration: none;
    color: white;
}
.img_lista li {
    margin-top: 10%;
    border-radius: 10px;
    background-color: #004d99;
    -webkit-box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.07);
    -moz-box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.07);
    box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.07);
}
.img_lista li:hover {
    background-color: #ffcc00;
}

main button {
    width: 200px;
    padding: 10px;
    margin-top: 5%;
    color: white;
    background-color: #61B1E6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
main button:hover {
    background-color: #619EE6;
}